repos:
  - repo: local
    hooks:
      - id: test
        name: test
        entry: uv run task test
        language: system
        always_run: true
        pass_filenames: false
        stages: [pre-push]
