name: general

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-linux:
    runs-on: ubuntu-latest

    permissions:
      id-token: write

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Setup uv
        uses: astral-sh/setup-uv@v5
      - name: Install Dependencies
        run: uv run install
      - name: Test Packages
        run: uv run task test
      - name: Upload Coverage
        uses: codecov/codecov-action@v5
        with:
          use_oidc: true

  test-macos:
    runs-on: macos-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Setup uv
        uses: astral-sh/setup-uv@v5
      - name: Install Dependencies
        run: uv run install
      - name: Test Packages
        run: uv run task test

  test-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Setup uv
        uses: astral-sh/setup-uv@v5
      - name: Install Dependencies
        run: uv run install
      - name: Test Packages
        run: uv run task test

  release:
    needs: [test-linux, test-macos, test-windows]
    environment: release
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && !contains(github.ref, 'refs/tags/')

    outputs:
      created: ${{ steps.release.outputs.new_release_published }}
      version: ${{ steps.release.outputs.new_release_version }}

    permissions:
      id-token: write
      contents: write
      issues: write
      pull-requests: write

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Setup uv
        uses: astral-sh/setup-uv@v5
      - name: Install Dependencies
        run: uv run install
      - name: Release Packages
        uses: python-semantic-release/python-semantic-release@v9
        id: release
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
